<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Playlist</title>
<link rel="stylesheet" th:href="@{/css/createPlaylist.css}"
</head>
<body>
<div class="container">
<form action="addPlaylist" method="post" class="form-container">
<div class="form-group">
	<label>Playlist name:</label>
	<input type="text" name="name" />
	</div>
	
	<div th:each="song:${songs}" class="form-group1">
	<input type="checkbox" th:name="songs" th:value="${song.id}">
	<label th:text=${song.name}></label><br>
	<br>
	</div>
	<div class="form-group">
	<button type="submit">Add Playlist</button>
	</div>
  </form>
</div>
</body>
</html>