<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>User Registration :</h1>

<form action="register" method="POST">
<label>Username: </label>
<input type="text" name="username" required />
<br />

<label>Email: </label>
<input type="email" name="email" required />
<br />

<label>Password: </label>
<input type="password" name="password" required />
<br />

<label>Gender: </label>
M<input type="radio" name="gender" id="Male" value="male" required />

F<input type="radio" name="gender" id="Female" value="female" required />

O<input type="radio" name="gender" id="Others" value="others" required />
<br />

<label>Role: </label>
Admin<input type="radio" name="role" id="admin" value="admin" required />

Customer<input type="radio" name="role" id="customer" value="customer" required />
<br>

<label>Address:</label>
<textarea rows="3" cols="10" name="address"></textarea>
<br />

<input type="submit" value="Register"/>

</form>
</body>
</html>