<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>search</title>
<link rel="stylesheet" th:href="@{/css/searchSong.css}">
</head>
<body>


<div>
<table border>
	<thead>
		<tr>
			<th>Name</th>
			<th>Artist</th>
			<th>Genre</th>
			<th>Play</th>
			
		</tr>
	</thead>
	
	<tbody>
    <tr th:each="song, iterStat : ${songs}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.genre}"></td>
        <td>
            <audio controls>
                <source th:src="${song.link}" type="audio/mpeg">
            </audio>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        

</body>
</html>